
.photography-text {
    position: absolute;
    width: 1357px;
    height: 154px;
    left: 40px;
    top: 99px;
  
    font-family: 'Zen Dots', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 154px;
  
    color: #000000;
  }

  